*{/*for full screen*/
	box-sizing: border-box; 
}

body,html { /*for full screen*/
    margin: 0;
    padding: 0;
}

.centeredText{
	text-align: center;
}

.basicBorder{
	border: 2px solid black;
}

.mainContainer{
	height: 100vh;
	display: grid;
	grid-template-rows: auto 50% auto;
	grid-template-areas: 
	"."
	"pag"
	"."
}

.paginationContainer{
	grid-area: pag;
	display: grid;
	grid-template-columns: 0.2fr 1fr 0.2fr;
	grid-template-rows: 1fr auto;
	grid-template-areas: 
	". list ."
	"con con con"
}

.rgbList{
	grid-area: list;
	display: grid;
}

.rgbCard{
	display: grid;
	grid-template-rows: auto 1fr;
}

.rgbShow{
	display: flex;
  	justify-content: center;
  	flex-direction: column;
}

.lArrow{
	grid-area: la;
}

.rArrow{
	grid-area: ra;
}

.pageTracker{
	grid-area: pt;
}

.pageController{
	grid-area: con;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	"la pt ra"
}